
<p><%= @movie.title %></p>
<p><%= @movie.creation_year %></p>
<p><%= @movie.genre %> </p>

<% @movie.order_youngest_to_oldest.each do |actor| %>
  <p><%= actor.name %></p>
<% end %>

<p>"Average age of actors: <%= @movie.average_age %>"</p>

<p>Add an actor to this movie:</p>
<%= form_with url: "/movies/#{@movie.id}/actors", method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Submit" %>
<% end  %>
